<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>

    <h2>the total no of users are <%=count%></h2>
    <form action="/user" method="get">
        <button>join us</button>
    </form>
    
    
</body>
</html>